body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  /* Posicionar abajo */
  position: absolute;
  bottom: 0;
  /* Ocupar todo el ancho disponible */
  width: 100%;
  min-height: 18vh;
  /* Solo para probar cómo se ve */
  /* background: #ccc; */
}